In [76]:
import pandas as pd
import numpy as np

In [77]:
mflx_kid_02 = pd.read_stata("hh02dta_all/hh02dta_b4/iv_ac.dta")
mflx_kid_05 = pd.read_stata("hh05dta_all/hh05dta_b4/iv_ac.dta")
mflx_kid_09 = pd.read_stata("hh09dta_all/hh09dta_b4/iv_ac.dta")
mflx_kid_09

,ac02a,ac02b,ac02c,ac02d,ac02e,ac02f,ac02g,ac02h,ac02i,ac02j,...,ac41,ac42_1,ac42_11,ac42_12,ac43_1,ac43_11,ac43_12,folio,ls,pid_link
0,1.0,1.0,1.0,1.0,1.0,3.0,3.0,3.0,1.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,000010AP00,02,000010AP0002
1,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,000010AP00,06,000010AP0006
2,1.0,1.0,1.0,1.0,1.0,3.0,3.0,1.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,000010BP03,02,000010AP0003
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,000020AP00,04,000020AP0004
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,000020CP03,01,000020AP0003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10507,1.0,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,107520AP00,02,107520AP0002
10508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107530AP00,02,107530AP0002
10509,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,107540AP00,02,107540AP0002
10510,1.0,1.0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,107580AP00,02,107580AP0002
10511,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,107590AP00,02,107590AP0002

In [78]:
mflx_labor_02 = pd.read_stata("mflx_labor_02_edited.dta")
mflx_labor_05 = pd.read_stata("mflx_labor_05_edited.dta")
mflx_labor_09 = pd.read_stata("mflx_labor_09_edited.dta")
mflx_labor_02

,index,index_x,folio_x,ls_x,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,...,household_head_college,household_children,household_size,city_bigger_15k,outpatient_visits,hospital_distance_min,interview_yr,interview_month,rollout,treatment
0,0,0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,...,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0,0.0
1,1,1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,...,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
2,2,2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,...,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
3,3,6,2000.0,3.0,3.0,3.0,1.0,19.0,NaN,NaN,...,0.0,2.0,5.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
4,4,7,2000.0,4.0,4.0,4.0,1.0,17.0,NaN,NaN,...,0.0,2.0,5.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14155,14155,35666,10756000.0,2.0,2.0,2.0,1.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14156,14156,35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,...,0.0,1.0,3.0,0.0,NaN,NaN,5.0,9.0,2.0,0.0
14157,14157,35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,...,0.0,1.0,3.0,0.0,NaN,NaN,5.0,9.0,2.0,2.0
14158,14158,35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,...,0.0,0.0,2.0,0.0,1.0,15.0,5.0,9.0,2.0,0.0
14159,14159,35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,...,0.0,0.0,2.0,0.0,1.0,15.0,5.0,9.0,2.0,0.0

In [79]:
mflx_labor_02

,index,index_x,folio_x,ls_x,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,...,household_head_college,household_children,household_size,city_bigger_15k,outpatient_visits,hospital_distance_min,interview_yr,interview_month,rollout,treatment
0,0,0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,...,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0,0.0
1,1,1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,...,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
2,2,2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,...,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
3,3,6,2000.0,3.0,3.0,3.0,1.0,19.0,NaN,NaN,...,0.0,2.0,5.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
4,4,7,2000.0,4.0,4.0,4.0,1.0,17.0,NaN,NaN,...,0.0,2.0,5.0,0.0,NaN,NaN,5.0,6.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14155,14155,35666,10756000.0,2.0,2.0,2.0,1.0,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14156,14156,35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,...,0.0,1.0,3.0,0.0,NaN,NaN,5.0,9.0,2.0,0.0
14157,14157,35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,...,0.0,1.0,3.0,0.0,NaN,NaN,5.0,9.0,2.0,2.0
14158,14158,35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,...,0.0,0.0,2.0,0.0,1.0,15.0,5.0,9.0,2.0,0.0
14159,14159,35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,...,0.0,0.0,2.0,0.0,1.0,15.0,5.0,9.0,2.0,0.0

In [80]:
mflx_kid_02['trimmed_folio'] = mflx_kid_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
mflx_kid_05['trimmed_folio'] = mflx_kid_05['folio'].apply(lambda x: int(str(x)[:-3]) if not pd.isna(x) else np.nan)
mflx_kid_09['trimmed_folio'] = mflx_kid_09['folio'].apply(lambda x: int(str(x)[:-5]) if not pd.isna(x) else np.nan)
mflx_kid_02

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1678703655.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02['trimmed_folio'] = mflx_kid_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1678703655.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05['trimmed_folio'] = mflx_kid_05['folio'].apply(lambda x: int(str(x)[:-3]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1678703655.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09['trimmed_folio'] = mflx_kid_09['folio'].apply(lambda x: int(str(x)[:-5]) if not pd.isna(x) else np.nan)

,ac02a,ac02b,ac02c,ac02d,ac02e,ac02f,ac02g,ac02h,ac02i,ac02j,...,ac41,ac42_1,ac42_11,ac42_12,ac43_1,ac43_11,ac43_12,folio,ls,trimmed_folio
0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,1.0,1.0,1.0,NaN,1.0,5.0,2001.0,1000.0,2.0,1
1,3.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,1000.0,3.0,1
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,1.0,3.0,NaN,2.0,1.0,4.0,2002.0,2000.0,2.0,2
3,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,2000.0,3.0,2
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,2000.0,4.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8735,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,10753000.0,2.0,10753
8736,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,10754000.0,2.0,10754
8737,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,1.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,10756000.0,2.0,10756
8738,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,NaN,NaN,NaN,3.0,NaN,NaN,10758000.0,2.0,10758
8739,1.0,1.0,1.0,1.0,3.0,3.0,1.0,3.0,3.0,3.0,...,1.0,1.0,1.0,NaN,1.0,5.0,2001.0,10759000.0,2.0,10759

In [81]:
treatment_ls = []
household_income_ls = []
household_head_secondary_ls = []
household_children_ls = []
city_bigger_15k_ls = []

for index, row in mflx_kid_02.iterrows():
  trimmed_folio = row["trimmed_folio"]
  head_household_rows = mflx_labor_02[(mflx_labor_02['trimmed_folio'] == trimmed_folio) & (mflx_labor_02['ls05_1'] == 1)]
  if len(head_household_rows) > 0:
    treatment = head_household_rows.iloc[0]["treatment"]
    household_income = head_household_rows.iloc[0]["household_income"]
    household_head_secondary = head_household_rows.iloc[0]["household_head_secondary"]
    household_children = head_household_rows.iloc[0]["household_children"]
    city_bigger_15k = head_household_rows.iloc[0]["city_bigger_15k"]
    
    treatment_ls.append(treatment)
    household_income_ls.append(household_income)
    household_head_secondary_ls.append(household_head_secondary)
    household_children_ls.append(household_children)
    city_bigger_15k_ls.append(city_bigger_15k)
  else:
    treatment_ls.append(np.NaN)
    household_income_ls.append(np.NaN)
    household_head_secondary_ls.append(np.NaN)
    household_children_ls.append(np.NaN)
    city_bigger_15k_ls.append(np.NaN)

mflx_kid_02["treatment"] = treatment_ls
mflx_kid_02["household_income"] = household_income_ls
mflx_kid_02["household_head_secondary"] = household_head_secondary_ls
mflx_kid_02["household_children"] = household_children_ls
mflx_kid_02["city_bigger_15k"] = city_bigger_15k_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/314609510.py:29: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["treatment"] = treatment_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/314609510.py:30: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["household_income"] = household_income_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/314609510.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["household_head_secondary"] = household_head_secondary_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/314609510.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["household_children"] = household_children_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/314609510.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["city_bigger_15k"] = city_bigger_15k_ls

In [82]:
treatment_ls = []
household_income_ls = []
household_head_secondary_ls = []
household_children_ls = []
city_bigger_15k_ls = []

for index, row in mflx_kid_05.iterrows():
  trimmed_folio = row["trimmed_folio"]
  head_household_rows = mflx_labor_02[(mflx_labor_02['trimmed_folio'] == trimmed_folio) & (mflx_labor_02['ls05_1'] == 1)]
  if len(head_household_rows) > 0:
    treatment = head_household_rows.iloc[0]["treatment"]
    household_income = head_household_rows.iloc[0]["household_income"]
    household_head_secondary = head_household_rows.iloc[0]["household_head_secondary"]
    household_children = head_household_rows.iloc[0]["household_children"]
    city_bigger_15k = head_household_rows.iloc[0]["city_bigger_15k"]


    
    treatment_ls.append(treatment)
    household_income_ls.append(household_income)
    household_head_secondary_ls.append(household_head_secondary)
    household_children_ls.append(household_children)
    city_bigger_15k_ls.append(city_bigger_15k)

  else:
    treatment_ls.append(np.NaN)
    household_income_ls.append(np.NaN)
    household_head_secondary_ls.append(np.NaN)
    household_children_ls.append(np.NaN)
    city_bigger_15k_ls.append(np.NaN)


mflx_kid_05["treatment"] = treatment_ls
mflx_kid_05["household_income"] = household_income_ls
mflx_kid_05["household_head_secondary"] = household_head_secondary_ls
mflx_kid_05["household_children"] = household_children_ls
mflx_kid_05["city_bigger_15k"] = city_bigger_15k_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1722886722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["treatment"] = treatment_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1722886722.py:34: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["household_income"] = household_income_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1722886722.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["household_head_secondary"] = household_head_secondary_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1722886722.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["household_children"] = household_children_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/1722886722.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["city_bigger_15k"] = city_bigger_15k_ls

In [83]:
treatment_ls = []
household_income_ls = []
household_head_secondary_ls = []
household_children_ls = []
city_bigger_15k_ls = []

for index, row in mflx_kid_09.iterrows():
  trimmed_folio = row["trimmed_folio"]
  head_household_rows = mflx_labor_02[(mflx_labor_02['trimmed_folio'] == trimmed_folio) & (mflx_labor_02['ls05_1'] == 1)]
  if len(head_household_rows) > 0:
    treatment = head_household_rows.iloc[0]["treatment"]
    household_income = head_household_rows.iloc[0]["household_income"]
    household_head_secondary = head_household_rows.iloc[0]["household_head_secondary"]
    household_children = head_household_rows.iloc[0]["household_children"]
    city_bigger_15k = head_household_rows.iloc[0]["city_bigger_15k"]

    
    treatment_ls.append(treatment)
    household_income_ls.append(household_income)
    household_head_secondary_ls.append(household_head_secondary)
    household_children_ls.append(household_children)
    city_bigger_15k_ls.append(city_bigger_15k)

  else:
    treatment_ls.append(np.NaN)
    household_income_ls.append(np.NaN)
    household_head_secondary_ls.append(np.NaN)
    household_children_ls.append(np.NaN)
    city_bigger_15k_ls.append(np.NaN)


mflx_kid_09["treatment"] = treatment_ls
mflx_kid_09["household_income"] = household_income_ls
mflx_kid_09["household_head_secondary"] = household_head_secondary_ls
mflx_kid_09["household_children"] = household_children_ls
mflx_kid_09["city_bigger_15k"] = city_bigger_15k_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/688378067.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["treatment"] = treatment_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/688378067.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["household_income"] = household_income_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/688378067.py:34: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["household_head_secondary"] = household_head_secondary_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/688378067.py:35: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["household_children"] = household_children_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/688378067.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["city_bigger_15k"] = city_bigger_15k_ls

In [84]:

mflx_kid_02

,ac02a,ac02b,ac02c,ac02d,ac02e,ac02f,ac02g,ac02h,ac02i,ac02j,...,ac43_11,ac43_12,folio,ls,trimmed_folio,treatment,household_income,household_head_secondary,household_children,city_bigger_15k
0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,5.0,2001.0,1000.0,2.0,1,0.0,32000.0,0.0,2.0,0.0
1,3.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,1000.0,3.0,1,0.0,32000.0,0.0,2.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,4.0,2002.0,2000.0,2.0,2,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,3.0,1.0,...,NaN,NaN,2000.0,3.0,2,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,...,NaN,NaN,2000.0,4.0,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8735,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,10753000.0,2.0,10753,0.0,43200.0,0.0,1.0,0.0
8736,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,10754000.0,2.0,10754,0.0,38400.0,0.0,2.0,0.0
8737,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,1.0,...,NaN,NaN,10756000.0,2.0,10756,NaN,NaN,NaN,NaN,NaN
8738,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,10758000.0,2.0,10758,0.0,48000.0,0.0,1.0,0.0
8739,1.0,1.0,1.0,1.0,3.0,3.0,1.0,3.0,3.0,3.0,...,5.0,2001.0,10759000.0,2.0,10759,0.0,48000.0,1.0,0.0,0.0

In [85]:
mflx_kid_02.dropna(subset=['treatment'], inplace=True)
mflx_kid_05.dropna(subset=['treatment'], inplace=True)
mflx_kid_09.dropna(subset=['treatment'], inplace=True)

In [86]:
mflx_kid_02["period"] = 1
mflx_kid_05["period"] = 2
mflx_kid_09["period"] = 3

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/3011567100.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["period"] = 1
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/3011567100.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["period"] = 2
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/3011567100.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["period"] = 3

In [87]:
tracked = {}
counter = 1

#assigns unique integer ID to each folio-ls pair
for index, row in mflx_kid_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

for index, row in mflx_kid_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

for index, row in mflx_kid_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

#add unique id column
unique_id_02_ls = []
for index, row in mflx_kid_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_02_ls.append(tracked[folio][id])
mflx_kid_02["unique_id"] = unique_id_02_ls

unique_id_05_ls = []
for index, row in mflx_kid_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_05_ls.append(tracked[folio][id])
mflx_kid_05["unique_id"] = unique_id_05_ls

unique_id_09_ls = []
for index, row in mflx_kid_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_09_ls.append(tracked[folio][id])
mflx_kid_09["unique_id"] = unique_id_09_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/776541124.py:47: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["unique_id"] = unique_id_02_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/776541124.py:54: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["unique_id"] = unique_id_05_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/776541124.py:61: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["unique_id"] = unique_id_09_ls

In [88]:
age_ls = []
for index, row in mflx_kid_02.iterrows():
  trimmed_folio = row["trimmed_folio"]
  ls = row["ls"]
  matching_rows = mflx_labor_02[(mflx_labor_02['trimmed_folio'] == trimmed_folio) & (mflx_labor_02['ls_x'] == ls)]
  if len(matching_rows) > 0:
    age = matching_rows.iloc[0]["age_yrs"]
    age_ls.append(age)
  else:
    age_ls.append(np.NaN)

mflx_kid_02["age_yrs"] = age_ls

age_ls = []
for index, row in mflx_kid_05.iterrows():
  trimmed_folio = row["trimmed_folio"]
  if pd.notna(row["ls"]):
    ls = int(row["ls"])
  else:
    ls = row["ls"]
  matching_rows = mflx_labor_02[(mflx_labor_02['trimmed_folio'] == trimmed_folio) & (mflx_labor_02['ls_x'] == ls)]
  if len(matching_rows) > 0:
    age = matching_rows.iloc[0]["age_yrs"]
    age_ls.append(age)
  else:
    age_ls.append(np.NaN)

mflx_kid_05["age_yrs"] = age_ls

age_ls = []
for index, row in mflx_kid_09.iterrows():
  trimmed_folio = row["trimmed_folio"]
  if pd.notna(row["ls"]):
    ls = int(row["ls"])
  else:
    ls = row["ls"]
  matching_rows = mflx_labor_02[(mflx_labor_02['trimmed_folio'] == trimmed_folio) & (mflx_labor_02['ls_x'] == ls)]
  if len(matching_rows) > 0:
    age = matching_rows.iloc[0]["age_yrs"]
    age_ls.append(age)
  else:
    age_ls.append(np.NaN)

mflx_kid_09["age_yrs"] = age_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/3006381943.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_02["age_yrs"] = age_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/3006381943.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_05["age_yrs"] = age_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_27250/3006381943.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_kid_09["age_yrs"] = age_ls

In [89]:
mflx_kid_02.to_stata('mflx_kids_02_edited.dta')
mflx_kid_05.to_stata('mflx_kids_05_edited.dta')
mflx_kid_09.to_stata('mflx_kids_09_edited.dta')

In [90]:
mflx_kid_02

,ac02a,ac02b,ac02c,ac02d,ac02e,ac02f,ac02g,ac02h,ac02i,ac02j,...,ls,trimmed_folio,treatment,household_income,household_head_secondary,household_children,city_bigger_15k,period,unique_id,age_yrs
0,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,1,0.0,32000.0,0.0,2.0,0.0,1,1,35.0
1,3.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,1,0.0,32000.0,0.0,2.0,0.0,1,2,16.0
10,1.0,1.0,1.0,1.0,3.0,1.0,3.0,3.0,3.0,1.0,...,2.0,11,0.0,84000.0,1.0,2.0,0.0,1,3,24.0
12,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,1.0,16,2.0,0.0,0.0,3.0,0.0,1,4,42.0
16,1.0,1.0,1.0,1.0,3.0,1.0,1.0,3.0,3.0,1.0,...,2.0,21,0.0,44720.0,1.0,3.0,0.0,1,5,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8733,1.0,1.0,1.0,1.0,3.0,3.0,1.0,3.0,3.0,1.0,...,3.0,10751,0.0,96300.0,0.0,3.0,1.0,1,4155,15.0
8735,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,10753,0.0,43200.0,0.0,1.0,0.0,1,4156,21.0
8736,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,10754,0.0,38400.0,0.0,2.0,0.0,1,4157,31.0
8738,1.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,10758,0.0,48000.0,0.0,1.0,0.0,1,4158,20.0
8739,1.0,1.0,1.0,1.0,3.0,3.0,1.0,3.0,3.0,3.0,...,2.0,10759,0.0,48000.0,1.0,0.0,0.0,1,4159,22.0