In [78]:
import pandas as pd
import numpy as np

In [79]:
bosch_rollout = pd.read_stata("benef_SP_2002_2009.dta")
bosch_rollout.head()

     year  quarter  cvemun  mydate     fam      ind
0  2002.0      4.0    1001   171.0  8353.0  34921.0
1  2002.0      4.0    1002   171.0     1.0      5.0
2  2002.0      4.0    1011   171.0     1.0      3.0
3  2002.0      4.0    1313   171.0     1.0      2.0
4  2002.0      4.0    2001   171.0  7579.0  31412.0

In [80]:
cve_mun_ls, year_col_ls = [], []
cve_mun_added = set()

for index, row in bosch_rollout.iterrows():
  year = row[0]
  cve_mun = row[2]
  people_enrolled = row[5]
  if cve_mun not in cve_mun_added:
    if people_enrolled > 9:
        cve_mun_added.add(cve_mun)
        cve_mun_ls.append(cve_mun)
        year_col_ls.append(year)


#fix exact rollout
#2002, 2003, 2004 -> 1
#2005, 2006, 2007, 2008 -> 2
#2009 -> 3
year_col_ls = np.array(year_col_ls)
categories = np.zeros_like(year_col_ls)

categories[(year_col_ls >= 2002) & (year_col_ls <= 2004)] = 2
categories[(year_col_ls >= 2005) & (year_col_ls <= 2008)] = 3
categories[year_col_ls == 2009] = 4

categories = categories.tolist()
# rollout_df = pd.DataFrame({'cvemun': cve_mun_ls, 'year': year_col_ls, 'group': categories})
# rollout_df.head()
cve_mun_to_treatment_group = dict(zip(cve_mun_ls, categories))

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/834781427.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  year = row[0]
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/834781427.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cve_mun = row[2]
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/834781427.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  people_enrolled = row[5]

In [81]:
mflx_mun_02 = pd.read_stata("hh02dta_all/hh02dta_bc/c_portad.dta")
mflx_mun_02.head()

       folio   ls   rel  reh  edo  mpio   loc  control  estrato  edad  id_loc
0  6299000.0  1.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  73.0  3138.0
1  6293000.0  2.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  49.0  3138.0
2  6281000.0  2.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  41.0  3138.0
3  6312000.0  1.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  32.0  3138.0
4  6314000.0  2.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  55.0  3138.0

In [82]:
def output_cve_mun(estado, municipio):
  estado = str(int(estado))
  municipio = str(int(municipio))

  if len(municipio) < 2:
    municipio = "0" + municipio
  if len(municipio) < 3:
    municipio = "0" + municipio
  
  return int(estado + municipio)

# stripped_folio = []

#cve_mun = []
household02_tocvemun_dict = {}

#TODO: fix this since only takes into account 02? rethink
for index, row in mflx_mun_02.iterrows():
  if not pd.isna(row['folio']):
    trimmed_folio = int(str(int(row['folio']))[:-3])
    get_cve_mun = output_cve_mun(row['edo'], row['mpio'])
    household02_tocvemun_dict[trimmed_folio] = get_cve_mun


# mflx_mun_02['trimmed_number'] = mflx_mun_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
# for index, row in mflx_mun_02.iterrows():
#     if not pd.isna(row['edo']) and not pd.isna(row['mpio']):
#         get_cve_mun_result = output_cve_mun(row['edo'], row['mpio'])
#         household02_tocvemun_dict[]
#         cve_mun.append(get_cve_mun_result)
#     else:
#         cve_mun.append(np.nan)
        



#create cve column (edo + 3 digit str)
#created stripped folio
#maybe put both into dict
#generate hours worked, later

#how do you deal with people that change households, move places?
len(household02_tocvemun_dict)

8296

In [83]:
mflx_labor_09 = pd.read_stata("hh09dta_all/hh09dta_b3a/iiia_tb.dta")
mflx_labor_09.head()

,folio,ls,pid_link,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,...,tb57,tb57s,tb58_59_cmo,tb60,tb61,tb62,tb221_1,tb221_2,tb222_1,tb222_2
0,000010AP00,01,000010AP0001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000010AP00,02,000010AP0002,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000010AP00,04,000010AP0004,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,12.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN
3,000010AP00,06,000010AP0006,4.0,3.0,3.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000010BP03,02,000010AP0003,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
mflx_labor_05 = pd.read_stata("hh05dta_all/hh05dta_b3a/iiia_tb.dta")
mflx_labor_05.head()

,folio,ls,pid_link,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,...,tb57_2,tb58_59_cmo,tb58_59_scian,tb60,tb61,tb62,tb221_1,tb221_2,tb222_1,tb222_2
0,00001000,01,0000100001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00001000,02,0000100002,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00001003,01,0000100301,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.0,71.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
3,00001003,02,0000100003,4.0,3.0,3.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00002000,02,0000200002,4.0,3.0,3.0,3.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
mflx_labor_02 = pd.read_stata("hh02dta_all/hh02dta_b3a/iiia_tb.dta")
mflx_labor_02.head()

,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,tb09_1,tb09_2,tb10,...,tb24_26s_cmo,tb24_26s_scian,tb41_43p_cmo,tb41_43p_scian,tb41_43s_cmo,tb41_43s_scian,tb58_59_cmo,tb58_59_scian,tb24_26p_cmo,tb24_26p_scian
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,54.0,23.0,55.0,93.0
1,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.0,81.0,81.0,81.0
4,9.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When treated

In [86]:
mflx_labor_02['trimmed_folio'] = mflx_labor_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
treatment_group_ls = []

for index, row in mflx_labor_02.iterrows():
  trimmed_folio = row['trimmed_folio']
  cve_mun = household02_tocvemun_dict.get(trimmed_folio)  # Get cve_mun from household02_tocvemun_dict
  if cve_mun and cve_mun in cve_mun_to_treatment_group:
      treatment_group = cve_mun_to_treatment_group[cve_mun]
      treatment_group_ls.append(treatment_group)
  else:
      treatment_group_ls.append(np.NaN)

mflx_labor_02['cve_treatment'] = treatment_group_ls



mflx_labor_05['trimmed_folio'] = mflx_labor_05['folio'].apply(lambda x: int(str(x)[:-3]) if not pd.isna(x) else np.nan)
treatment_group_ls = []

for index, row in mflx_labor_05.iterrows():
  trimmed_folio = row['trimmed_folio']
  cve_mun = household02_tocvemun_dict.get(trimmed_folio)  # Get cve_mun from household02_tocvemun_dict
  if cve_mun and cve_mun in cve_mun_to_treatment_group:
      treatment_group = cve_mun_to_treatment_group[cve_mun]
      treatment_group_ls.append(treatment_group)
  else:
      treatment_group_ls.append(np.NaN)

mflx_labor_05['cve_treatment'] = treatment_group_ls



mflx_labor_09['trimmed_folio'] = mflx_labor_09['folio'].apply(lambda x: int(str(x)[:-5]) if not pd.isna(x) else np.nan)
treatment_group_ls = []

for index, row in mflx_labor_09.iterrows():
  trimmed_folio = row['trimmed_folio']
  cve_mun = household02_tocvemun_dict.get(trimmed_folio)  # Get cve_mun from household02_tocvemun_dict
  if cve_mun and cve_mun in cve_mun_to_treatment_group:
      treatment_group = cve_mun_to_treatment_group[cve_mun]
      treatment_group_ls.append(treatment_group)
  else:
      treatment_group_ls.append(np.NaN)

mflx_labor_09['cve_treatment'] = treatment_group_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/4219106149.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['trimmed_folio'] = mflx_labor_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/4219106149.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['cve_treatment'] = treatment_group_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/4219106149.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['trimmed_folio'] = mflx_labor_05['folio'].apply(lambda x: int(str(x)[:-3]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/4219106149.py:29: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['cve_treatment'] = treatment_group_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/4219106149.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['trimmed_folio'] = mflx_labor_09['folio'].apply(lambda x: int(str(x)[:-5]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/4219106149.py:45: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['cve_treatment'] = treatment_group_ls

Unique ID

In [87]:
tracked = {}
counter = 1

#assigns unique integer ID to each folio-ls pair
for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

#add unique id column
unique_id_02_ls = []
for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_02_ls.append(tracked[folio][id])
mflx_labor_02["unique_id"] = unique_id_02_ls

unique_id_05_ls = []
for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_05_ls.append(tracked[folio][id])
mflx_labor_05["unique_id"] = unique_id_05_ls

unique_id_09_ls = []
for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_09_ls.append(tracked[folio][id])
mflx_labor_09["unique_id"] = unique_id_09_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3759383938.py:47: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02["unique_id"] = unique_id_02_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3759383938.py:54: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05["unique_id"] = unique_id_05_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3759383938.py:61: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09["unique_id"] = unique_id_09_ls

Calculate Total Hours Worked

In [88]:
##CODEBOOK HAS CODED WRONG, CORRECTED:
#tb28p - hrs worked last week primary job
#tb27s - hrs worked last week secondary job

#tb29_p - primary: week/yr (1), all weeks of year (2)
#tb29_p1 - weeks/year main

#tb29_s - week/yr (1), all weeks of year (2)
#tb29_s1 - weeks/year secondary

mflx_labor_02['primary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
mflx_labor_02['secondary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
mflx_labor_02['total_hrs_yr'] = mflx_labor_02.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)


mflx_labor_05['primary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
mflx_labor_05['secondary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
mflx_labor_05['total_hrs_yr'] = mflx_labor_05.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)

mflx_labor_09['primary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
mflx_labor_09['secondary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
mflx_labor_09['total_hrs_yr'] = mflx_labor_09.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['primary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['secondary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['total_hrs_yr'] = mflx_labor_02.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['primary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['secondary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['total_hrs_yr'] = mflx_labor_05.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['primary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['secondary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2666024074.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['total_hrs_yr'] = mflx_labor_09.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)

Filter Those Never Work, Too Old/Young

In [89]:
worked_dict = {}
# mflx_labor_02['trimmed_folio'] = mflx_labor_02['trimmed_folio'].astype(str)
# mflx_labor_02['mflx_labor_02'] = mflx_labor_02['mflx_labor_02'].astype(str)

# mflx_labor_02['unique_id'] = mflx_labor_02.apply(lambda row: str(row['trimmed_folio']) + str(row['ls']), axis=1)
# mflx_labor_05['unique_id'] = mflx_labor_05.apply(lambda row: str(row['trimmed_folio']) + str(row['ls']), axis=1)
# mflx_labor_09['unique_id'] = mflx_labor_09.apply(lambda row: str(row['trimmed_folio']) + str(row['ls']), axis=1)


for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if row['total_hrs_yr'] > 500:
    if folio in worked_dict:
      worked_dict[folio][id] = 1
    else:
      worked_dict[folio] = {}
      worked_dict[folio][id] = 1
for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if row['total_hrs_yr'] > 500:
    if folio in worked_dict:
      worked_dict[folio][id] = 1
    else:
      worked_dict[folio] = {}
      worked_dict[folio][id] = 1
for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if row['total_hrs_yr'] > 500:
    if folio in worked_dict:
      worked_dict[folio][id] = 1
    else:
      worked_dict[folio] = {}
      worked_dict[folio][id] = 1



worked_over_10_02_ls = []
for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in worked_dict:
    if id in worked_dict[folio]:
      worked_over_10_02_ls.append(1)
    else:
      worked_over_10_02_ls.append(0)
  else:
    worked_over_10_02_ls.append(0)

worked_over_10_05_ls = []
for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in worked_dict:
    if id in worked_dict[folio]:
      worked_over_10_05_ls.append(1)
    else:
      worked_over_10_05_ls.append(0)
  else:
    worked_over_10_05_ls.append(0)

worked_over_10_09_ls = []
for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in worked_dict:
    if id in worked_dict[folio]:
      worked_over_10_09_ls.append(1)
    else:
      worked_over_10_09_ls.append(0)
  else:
    worked_over_10_09_ls.append(0)

mflx_labor_02['worked_over_10'] = worked_over_10_02_ls
mflx_labor_05['worked_over_10'] = worked_over_10_05_ls
mflx_labor_09['worked_over_10'] = worked_over_10_09_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3989064737.py:76: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['worked_over_10'] = worked_over_10_02_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3989064737.py:77: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['worked_over_10'] = worked_over_10_05_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3989064737.py:78: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['worked_over_10'] = worked_over_10_09_ls

Informal vs Formal Sector

In [90]:
# mflx_labor_02['informal_primary'] = mflx_labor_02.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)

#what about people that switch formal
mflx_labor_02['informal_primary'] = mflx_labor_02.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
mflx_labor_05['informal_primary'] = mflx_labor_05.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
mflx_labor_09['informal_primary'] = mflx_labor_09.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/107484280.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['informal_primary'] = mflx_labor_02.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/107484280.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['informal_primary'] = mflx_labor_05.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/107484280.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['informal_primary'] = mflx_labor_09.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)

Time for Panel Data

In [91]:
mflx_labor_02["period"] = 1
mflx_labor_05["period"] = 2
mflx_labor_09["period"] = 3

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2125100756.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02["period"] = 1
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2125100756.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05["period"] = 2
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/2125100756.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09["period"] = 3

Treatment Time

In [92]:

mflx_labor_02['treatment'] = mflx_labor_02['cve_treatment']
mflx_labor_05['treatment'] = mflx_labor_05['cve_treatment']
mflx_labor_09['treatment'] = mflx_labor_09['cve_treatment']


mflx_labor_02['treatment'] = mflx_labor_02.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['cve_treatment'], axis=1)
mflx_labor_05['treatment'] = mflx_labor_05.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['cve_treatment'], axis=1)
mflx_labor_09['treatment'] = mflx_labor_09.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['cve_treatment'], axis=1)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3909849955.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['treatment'] = mflx_labor_02['cve_treatment']
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3909849955.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['treatment'] = mflx_labor_05['cve_treatment']
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_26686/3909849955.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['treatment'] = mflx_labor_09['cve_treatment']

Merge

In [93]:
# mflx_labor_merged = pd.concat([mflx_labor_02, mflx_labor_05, mflx_labor_09], ignore_index=True, join='inner')

In [94]:
# print(mflx_labor_merged.columns)

Export .dta

In [95]:
mflx_labor_02.to_stata('mflx_labor_02_edited.dta')
mflx_labor_05.to_stata('mflx_labor_05_edited.dta')
mflx_labor_09.to_stata('mflx_labor_09_edited.dta')

# mflx_labor_merged.to_stata('mflx_labor_merged.dta')

In [96]:
# mflx_labor_merged.to_csv('mflx_labor_merged.csv', index=False)
# mflx_labor_merged = pd.read_csv('mflx_labor_merged.csv')
# mflx_labor_merged.to_stata('mflx_labor_merged.dta')