In [159]:
import pandas as pd
import numpy as np

In [160]:
mflx_mun_02 = pd.read_stata("hh02dta_all/hh02dta_bc/c_portad.dta")
mflx_mun_02.head()

       folio   ls   rel  reh  edo  mpio   loc  control  estrato  edad  id_loc
0  6299000.0  1.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  73.0  3138.0
1  6293000.0  2.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  49.0  3138.0
2  6281000.0  2.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  41.0  3138.0
3  6312000.0  1.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  32.0  3138.0
4  6314000.0  2.0  20.0  1.0  3.0   1.0  38.0     20.0      4.0  55.0  3138.0

In [161]:
mflx_labor_09 = pd.read_stata("hh09dta_all/hh09dta_b3a/iiia_tb.dta")
mflx_labor_09.head()

,folio,ls,pid_link,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,...,tb57,tb57s,tb58_59_cmo,tb60,tb61,tb62,tb221_1,tb221_2,tb222_1,tb222_2
0,000010AP00,01,000010AP0001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000010AP00,02,000010AP0002,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000010AP00,04,000010AP0004,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,12.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN
3,000010AP00,06,000010AP0006,4.0,3.0,3.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000010BP03,02,000010AP0003,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
mflx_labor_05 = pd.read_stata("hh05dta_all/hh05dta_b3a/iiia_tb.dta")
mflx_labor_05.head()

,folio,ls,pid_link,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,...,tb57_2,tb58_59_cmo,tb58_59_scian,tb60,tb61,tb62,tb221_1,tb221_2,tb222_1,tb222_2
0,00001000,01,0000100001,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00001000,02,0000100002,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00001003,01,0000100301,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.0,71.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
3,00001003,02,0000100003,4.0,3.0,3.0,3.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00002000,02,0000200002,4.0,3.0,3.0,3.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
mflx_labor_02 = pd.read_stata("hh02dta_all/hh02dta_b3a/iiia_tb.dta")
mflx_labor_02.head()

,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,tb09_1,tb09_2,tb10,...,tb24_26s_cmo,tb24_26s_scian,tb41_43p_cmo,tb41_43p_scian,tb41_43s_cmo,tb41_43s_scian,tb58_59_cmo,tb58_59_scian,tb24_26p_cmo,tb24_26p_scian
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,54.0,23.0,55.0,93.0
1,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,82.0,81.0,81.0,81.0
4,9.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When treated

In [164]:
mflx_labor_02['trimmed_folio'] = mflx_labor_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
# treatment_group_ls = []

# for index, row in mflx_labor_02.iterrows():
#   trimmed_folio = row['trimmed_folio']
#   cve_mun = household02_tocvemun_dict.get(trimmed_folio)  # Get cve_mun from household02_tocvemun_dict
#   if cve_mun and cve_mun in cve_mun_to_treatment_group:
#       treatment_group = cve_mun_to_treatment_group[cve_mun]
#       treatment_group_ls.append(treatment_group)
#   else:
#       treatment_group_ls.append(np.NaN)

# mflx_labor_02['cve_treatment'] = treatment_group_ls



mflx_labor_05['trimmed_folio'] = mflx_labor_05['folio'].apply(lambda x: int(str(x)[:-3]) if not pd.isna(x) else np.nan)
# treatment_group_ls = []

# for index, row in mflx_labor_05.iterrows():
#   trimmed_folio = row['trimmed_folio']
#   cve_mun = household02_tocvemun_dict.get(trimmed_folio)  # Get cve_mun from household02_tocvemun_dict
#   if cve_mun and cve_mun in cve_mun_to_treatment_group:
#       treatment_group = cve_mun_to_treatment_group[cve_mun]
#       treatment_group_ls.append(treatment_group)
#   else:
#       treatment_group_ls.append(np.NaN)

# mflx_labor_05['cve_treatment'] = treatment_group_ls



mflx_labor_09['trimmed_folio'] = mflx_labor_09['folio'].apply(lambda x: int(str(x)[:-5]) if not pd.isna(x) else np.nan)
# treatment_group_ls = []

# for index, row in mflx_labor_09.iterrows():
#   trimmed_folio = row['trimmed_folio']
#   cve_mun = household02_tocvemun_dict.get(trimmed_folio)  # Get cve_mun from household02_tocvemun_dict
#   if cve_mun and cve_mun in cve_mun_to_treatment_group:
#       treatment_group = cve_mun_to_treatment_group[cve_mun]
#       treatment_group_ls.append(treatment_group)
#   else:
#       treatment_group_ls.append(np.NaN)

# mflx_labor_09['cve_treatment'] = treatment_group_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/1519520662.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['trimmed_folio'] = mflx_labor_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/1519520662.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['trimmed_folio'] = mflx_labor_05['folio'].apply(lambda x: int(str(x)[:-3]) if not pd.isna(x) else np.nan)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/1519520662.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['trimmed_folio'] = mflx_labor_09['folio'].apply(lambda x: int(str(x)[:-5]) if not pd.isna(x) else np.nan)

Unique ID

In [165]:
tracked = {}
counter = 1

#assigns unique integer ID to each folio-ls pair
for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter
    counter += 1

#add unique id column
unique_id_02_ls = []
for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_02_ls.append(tracked[folio][id])
mflx_labor_02["unique_id"] = unique_id_02_ls

unique_id_05_ls = []
for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_05_ls.append(tracked[folio][id])
mflx_labor_05["unique_id"] = unique_id_05_ls

unique_id_09_ls = []
for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_09_ls.append(tracked[folio][id])
mflx_labor_09["unique_id"] = unique_id_09_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/3759383938.py:47: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02["unique_id"] = unique_id_02_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/3759383938.py:54: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05["unique_id"] = unique_id_05_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/3759383938.py:61: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09["unique_id"] = unique_id_09_ls

Calculate Total Hours Worked

In [166]:
##CODEBOOK HAS CODED WRONG, CORRECTED:
#tb28p - hrs worked last week primary job
#tb27s - hrs worked last week secondary job

#tb29_p - primary: week/yr (1), all weeks of year (2)
#tb29_p1 - weeks/year main

#tb29_s - week/yr (1), all weeks of year (2)
#tb29_s1 - weeks/year secondary

mflx_labor_02['primary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
mflx_labor_02['secondary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
mflx_labor_02['total_hrs_yr'] = mflx_labor_02.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)


mflx_labor_05['primary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
mflx_labor_05['secondary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
mflx_labor_05['total_hrs_yr'] = mflx_labor_05.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)

mflx_labor_09['primary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
mflx_labor_09['secondary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
mflx_labor_09['total_hrs_yr'] = mflx_labor_09.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['primary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['secondary_hrs_yr'] = mflx_labor_02.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['total_hrs_yr'] = mflx_labor_02.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['primary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['secondary_hrs_yr'] = mflx_labor_05.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['total_hrs_yr'] = mflx_labor_05.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['primary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb28p'] if row['tb29_p'] == 2 else row['tb28p'] * row['tb29_p1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['secondary_hrs_yr'] = mflx_labor_09.apply(lambda row: 52 * row['tb27s'] if row['tb29_s'] == 2 else row['tb27s'] * row['tb29_s1'], axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2666024074.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['total_hrs_yr'] = mflx_labor_09.apply(lambda row: row['primary_hrs_yr'] + row['secondary_hrs_yr'] if pd.notnull(row['secondary_hrs_yr']) else row['primary_hrs_yr'], axis=1)

Filter Those Never Work, Too Old/Young

In [167]:
worked_dict = {}
# mflx_labor_02['trimmed_folio'] = mflx_labor_02['trimmed_folio'].astype(str)
# mflx_labor_02['mflx_labor_02'] = mflx_labor_02['mflx_labor_02'].astype(str)

# mflx_labor_02['unique_id'] = mflx_labor_02.apply(lambda row: str(row['trimmed_folio']) + str(row['ls']), axis=1)
# mflx_labor_05['unique_id'] = mflx_labor_05.apply(lambda row: str(row['trimmed_folio']) + str(row['ls']), axis=1)
# mflx_labor_09['unique_id'] = mflx_labor_09.apply(lambda row: str(row['trimmed_folio']) + str(row['ls']), axis=1)


for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if row['total_hrs_yr'] > 500:
    if folio in worked_dict:
      worked_dict[folio][id] = 1
    else:
      worked_dict[folio] = {}
      worked_dict[folio][id] = 1
for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if row['total_hrs_yr'] > 500:
    if folio in worked_dict:
      worked_dict[folio][id] = 1
    else:
      worked_dict[folio] = {}
      worked_dict[folio][id] = 1
for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if row['total_hrs_yr'] > 500:
    if folio in worked_dict:
      worked_dict[folio][id] = 1
    else:
      worked_dict[folio] = {}
      worked_dict[folio][id] = 1



worked_over_10_02_ls = []
for index, row in mflx_labor_02.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in worked_dict:
    if id in worked_dict[folio]:
      worked_over_10_02_ls.append(1)
    else:
      worked_over_10_02_ls.append(0)
  else:
    worked_over_10_02_ls.append(0)

worked_over_10_05_ls = []
for index, row in mflx_labor_05.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in worked_dict:
    if id in worked_dict[folio]:
      worked_over_10_05_ls.append(1)
    else:
      worked_over_10_05_ls.append(0)
  else:
    worked_over_10_05_ls.append(0)

worked_over_10_09_ls = []
for index, row in mflx_labor_09.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in worked_dict:
    if id in worked_dict[folio]:
      worked_over_10_09_ls.append(1)
    else:
      worked_over_10_09_ls.append(0)
  else:
    worked_over_10_09_ls.append(0)

mflx_labor_02['worked_over_10'] = worked_over_10_02_ls
mflx_labor_05['worked_over_10'] = worked_over_10_05_ls
mflx_labor_09['worked_over_10'] = worked_over_10_09_ls

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/3989064737.py:76: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['worked_over_10'] = worked_over_10_02_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/3989064737.py:77: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['worked_over_10'] = worked_over_10_05_ls
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/3989064737.py:78: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['worked_over_10'] = worked_over_10_09_ls

Informal vs Formal Sector

In [168]:
# mflx_labor_02['informal_primary'] = mflx_labor_02.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)

mflx_labor_02['informal_primary'] = mflx_labor_02.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
mflx_labor_05['informal_primary'] = mflx_labor_05.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
mflx_labor_09['informal_primary'] = mflx_labor_09.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)


#remove people that switch formal/informal
id_to_sector = {}
for index, row in mflx_labor_02.iterrows():
  id = row['unique_id']
  sector = row['informal_primary']
  if id in id_to_sector:
    id_to_sector[id].append(sector)
  else:
    id_to_sector[id] = [sector]

for index, row in mflx_labor_05.iterrows():
  id = row['unique_id']
  sector = row['informal_primary']
  if id in id_to_sector:
    id_to_sector[id].append(sector)
  else:
    id_to_sector[id] = [sector]

for index, row in mflx_labor_09.iterrows():
  id = row['unique_id']
  sector = row['informal_primary']
  if id in id_to_sector:
    id_to_sector[id].append(sector)
  else:
    id_to_sector[id] = [sector]

id_to_remove = set()
for key, value in id_to_sector.items():
  if 0 in value and 1 in value:
    id_to_remove.add(key)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2952277507.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02['informal_primary'] = mflx_labor_02.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2952277507.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05['informal_primary'] = mflx_labor_05.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2952277507.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09['informal_primary'] = mflx_labor_09.apply(lambda row: 1 if row['tb32p'] in [1,2,4, 6] else (0 if row['tb32p'] in [3,5] else np.nan), axis=1)

In [169]:
mflx_labor_02 = mflx_labor_02[~mflx_labor_02['unique_id'].isin(id_to_remove)]
mflx_labor_05 = mflx_labor_05[~mflx_labor_05['unique_id'].isin(id_to_remove)]
mflx_labor_09 = mflx_labor_09[~mflx_labor_09['unique_id'].isin(id_to_remove)]

Time for Panel Data

In [170]:
mflx_labor_02["period"] = 1
mflx_labor_05["period"] = 2
mflx_labor_09["period"] = 3

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2125100756.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_02["period"] = 1
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2125100756.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_05["period"] = 2
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1159/2125100756.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  mflx_labor_09["period"] = 3

Treatment Time

In [171]:

# mflx_labor_02['treatment'] = mflx_labor_02['cve_treatment']
# mflx_labor_05['treatment'] = mflx_labor_05['cve_treatment']
# mflx_labor_09['treatment'] = mflx_labor_09['cve_treatment']


# mflx_labor_02['treatment'] = mflx_labor_02.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['cve_treatment'], axis=1)
# mflx_labor_05['treatment'] = mflx_labor_05.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['cve_treatment'], axis=1)
# mflx_labor_09['treatment'] = mflx_labor_09.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['cve_treatment'], axis=1)

add household data

In [172]:
mflx_control_02_df = pd.read_stata('mflx_control_02_edited.dta')
households_data_df = pd.read_stata('households_data_rollout.dta')

#drop if too young/old to work (15-55 years in 2002)
mflx_control_02_df = mflx_control_02_df[(mflx_control_02_df['age_yrs'] >= 15) & (mflx_control_02_df['age_yrs'] <= 55)]

In [173]:
mflx_control_02_df

,index,folio,ls,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,ls03_22,...,ls13_2,ls14,ls15_1,ls16,ls18,trimmed_folio,secondary,highschool,college,age_yrs
0,0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,NaN,...,32000.0,3.0,6.0,3.0,NaN,1,0.0,0.0,0.0,37.0
1,1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,NaN,...,NaN,1.0,NaN,3.0,NaN,1,0.0,0.0,0.0,35.0
2,2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,NaN,...,NaN,6.0,0.0,1.0,2.0,1,1.0,1.0,0.0,16.0
4,4,2000.0,1.0,1.0,1.0,1.0,40.0,NaN,NaN,NaN,...,43200.0,4.0,3.0,3.0,NaN,2,1.0,0.0,0.0,40.0
5,5,2000.0,2.0,2.0,2.0,1.0,42.0,NaN,NaN,NaN,...,4800.0,4.0,3.0,3.0,NaN,2,1.0,0.0,0.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35666,35666,10756000.0,2.0,2.0,2.0,1.0,23.0,NaN,NaN,NaN,...,NaN,4.0,3.0,3.0,NaN,10756,1.0,0.0,0.0,23.0
35672,35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,NaN,...,48000.0,3.0,6.0,3.0,NaN,10758,0.0,0.0,0.0,23.0
35673,35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,NaN,...,NaN,4.0,3.0,3.0,NaN,10758,1.0,0.0,0.0,20.0
35675,35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,NaN,...,24000.0,4.0,3.0,3.0,NaN,10759,1.0,0.0,0.0,22.0
35676,35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,NaN,...,24000.0,3.0,6.0,3.0,NaN,10759,0.0,0.0,0.0,22.0

In [174]:
households_data_df

,level_0,index,trimmed_folio,household_income,household_head_female,household_head_secondary,household_head_highschool,household_head_college,household_children,household_size,city_bigger_15k,outpatient_visits,hospital_distance_min,interview_yr,interview_month,rollout
0,0,0,1,32000.0,0.0,0.0,0.0,0.0,2,4,0.0,NaN,NaN,5.0,6.0,2.0
1,1,1,2,48000.0,0.0,1.0,0.0,0.0,2,5,0.0,NaN,NaN,5.0,6.0,2.0
2,2,2,3,51550.0,0.0,0.0,0.0,0.0,5,8,0.0,NaN,NaN,5.0,6.0,2.0
3,3,3,4,54400.0,0.0,1.0,1.0,0.0,3,5,0.0,NaN,NaN,5.0,6.0,2.0
4,4,4,6,41000.0,0.0,0.0,0.0,0.0,4,9,0.0,NaN,NaN,5.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7253,8293,8293,10753,43200.0,0.0,0.0,0.0,0.0,1,3,0.0,NaN,NaN,5.0,8.0,2.0
7254,8294,8294,10754,38400.0,0.0,0.0,0.0,0.0,2,4,0.0,NaN,10.0,5.0,7.0,2.0
7255,8296,8296,10757,200.0,0.0,0.0,0.0,0.0,0,2,0.0,NaN,NaN,5.0,9.0,2.0
7256,8297,8297,10758,48000.0,0.0,0.0,0.0,0.0,1,3,0.0,NaN,NaN,5.0,9.0,2.0
7257,8298,8298,10759,48000.0,0.0,1.0,0.0,0.0,0,2,0.0,NaN,15.0,5.0,9.0,2.0

In [175]:
for index, row in mflx_control_02_df.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  if folio in tracked:
    if id not in tracked[folio]:
      tracked[folio][id] = counter
      counter += 1
  elif folio not in tracked:
    tracked[folio] = {}
    tracked[folio][id] = counter

unique_id_control_02_ls = []
for index, row in mflx_control_02_df.iterrows():
  folio = int(row['trimmed_folio'])
  id = int(row['ls'])
  unique_id_control_02_ls.append(tracked[folio][id])
mflx_control_02_df["unique_id"] = unique_id_control_02_ls

In [176]:
mflx_labor_02

,tb02_1,tb03,tb04,tb05,tb06,tb07,tb08,tb09_1,tb09_2,tb10,...,tb24_26p_cmo,tb24_26p_scian,trimmed_folio,unique_id,primary_hrs_yr,secondary_hrs_yr,total_hrs_yr,worked_over_10,informal_primary,period
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.0,93.0,1,1,2496.0,NaN,2496.0,1,0.0,1
1,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,1,NaN,1
2,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,3,NaN,NaN,NaN,0,NaN,1
4,9.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,5,NaN,NaN,NaN,0,NaN,1
5,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2,6,NaN,NaN,NaN,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19750,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10757,19548,NaN,NaN,NaN,0,NaN,1
19751,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.0,99.0,10758,19549,2080.0,NaN,2080.0,1,0.0,1
19752,4.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10758,19550,NaN,NaN,NaN,0,NaN,1
19753,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,33.0,10759,19551,NaN,NaN,NaN,1,0.0,1
19754,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,99.0,10759,19552,NaN,NaN,NaN,1,0.0,1

In [177]:
merged_02_df = pd.merge(mflx_control_02_df, mflx_labor_02, on=['unique_id'], how='inner')
merged_05_df = pd.merge(mflx_control_02_df, mflx_labor_05, on=['unique_id'], how='inner')
merged_09_df = pd.merge(mflx_control_02_df, mflx_labor_09, on=['unique_id'], how='inner')

merged_02_df["trimmed_folio"] = merged_02_df["trimmed_folio_x"]
merged_05_df["trimmed_folio"] = merged_05_df["trimmed_folio_x"]
merged_09_df["trimmed_folio"] = merged_09_df["trimmed_folio_x"]

In [178]:
merged_02_whousehold_df = pd.merge(merged_02_df, households_data_df, on=['trimmed_folio'], how='left')
merged_05_whousehold_df = pd.merge(merged_05_df, households_data_df, on=['trimmed_folio'], how='left')
merged_09_whousehold_df = pd.merge(merged_09_df, households_data_df, on=['trimmed_folio'], how='left')
merged_02_whousehold_df

,index_x,folio_x,ls_x,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,ls03_22,...,household_head_highschool,household_head_college,household_children,household_size,city_bigger_15k,outpatient_visits,hospital_distance_min,interview_yr,interview_month,rollout
0,0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,NaN,...,0.0,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0
1,1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,NaN,...,0.0,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0
2,2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,NaN,...,0.0,0.0,2.0,4.0,0.0,NaN,NaN,5.0,6.0,2.0
3,6,2000.0,3.0,3.0,3.0,1.0,19.0,NaN,NaN,NaN,...,0.0,0.0,2.0,5.0,0.0,NaN,NaN,5.0,6.0,2.0
4,7,2000.0,4.0,4.0,4.0,1.0,17.0,NaN,NaN,NaN,...,0.0,0.0,2.0,5.0,0.0,NaN,NaN,5.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14155,35666,10756000.0,2.0,2.0,2.0,1.0,23.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14156,35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,NaN,...,0.0,0.0,1.0,3.0,0.0,NaN,NaN,5.0,9.0,2.0
14157,35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,NaN,...,0.0,0.0,1.0,3.0,0.0,NaN,NaN,5.0,9.0,2.0
14158,35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,0.0,NaN,15.0,5.0,9.0,2.0
14159,35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,0.0,NaN,15.0,5.0,9.0,2.0

define treatment

In [185]:
#rollout
#informal_primary

#if formal

#Treatment:
#

merged_02_whousehold_df['treatment'] = merged_02_whousehold_df['rollout']
merged_05_whousehold_df['treatment'] = merged_05_whousehold_df['rollout']
merged_09_whousehold_df['treatment'] = merged_09_whousehold_df['rollout']


merged_02_whousehold_df['treatment'] = merged_02_whousehold_df.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['rollout'], axis=1)
merged_05_whousehold_df['treatment'] = merged_05_whousehold_df.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['rollout'], axis=1)
merged_09_whousehold_df['treatment'] = merged_09_whousehold_df.apply(lambda row: 0 if row['tb32p'] in [3,5] else row['rollout'], axis=1)

Merge

In [186]:
# mflx_labor_merged = pd.concat([mflx_labor_02, mflx_labor_05, mflx_labor_09], ignore_index=True, join='inner')

In [187]:
# print(mflx_labor_merged.columns)

Export .dta

In [188]:
merged_02_whousehold_df.to_stata('mflx_labor_02_edited.dta')
merged_05_whousehold_df.to_stata('mflx_labor_05_edited.dta')
merged_09_whousehold_df.to_stata('mflx_labor_09_edited.dta')

# mflx_labor_merged.to_stata('mflx_labor_merged.dta')

In [189]:
# mflx_labor_merged.to_csv('mflx_labor_merged.csv', index=False)
# mflx_labor_merged = pd.read_csv('mflx_labor_merged.csv')
# mflx_labor_merged.to_stata('mflx_labor_merged.dta')